body{
    overflow-x: hidden;
}

.row div span{
    color: #f3b705;
    text-shadow: -2px 2px #ccc;
}

.row div h1{
    text-shadow: -2px 5px #ccc;
}
.container{
    width: 70%;
    margin: auto;
}

.card-body .form-control{
    margin: auto;
    width: 50%;
}

.card-body button{
    width: 10%;
    font-weight: bold;
}

.justify{
    text-align: justify;
}

.tableTitle{
    text-align: center;
    text-shadow: -2px 5px #ccc;
}

.tableTitle .spnt{
    color: #f3b705;
    text-shadow: -2px 2px #ccc;
}

.container .card{
    box-shadow: -5px 10px #dfdede;
    border-radius: 15px;
}